// System variables

$fontFamily: Montserrat, sans-serif;
$color: #111;
$colorActive: #E31E25;

* {
  color: $color;
  font-family: $fontFamily;
}

.is-btn,
.is-btn:hover {
  box-shadow: none;
  text-transform: none;
  font-weight: 600;
  border-radius: 4px !important;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.is-btn:hover {
  background: $colorActive;
  color: #fff !important;
}


// header

.is-header {
  background: url(../img/header_bg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;

    .is-navbar {
      background: rgba(255, 255, 255, 0.8);
      box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.07);
      border-radius: 4px;
      top: 20px;
      min-height: 70px;

        .is-menu {
          margin-left: 4.1875rem;
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          align-items: center;

          .nav-item {
            font-size: .8125rem;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            align-items: center;

            .nav-link {
              font-weight: 500;
              text-transform: uppercase;
              color: $color;
              transition: color .5s;
            }

            .nav-link:hover {
              color: $colorActive;
              transition: color .5s;
            }

            .nav-link.active {
              color: $colorActive;
            }

            .nav-link.active:before,
            .nav-link.active:after {
              content: '';
              width: 24px;
              height: 8px;
              display: block;
              margin: 0 auto;
            }

            .nav-link.active:before {
              background: url(../img/active_link.svg);
            }

            .nav-link.active:after {
              background: url(../img/active_link_bottom.svg);
            }

          }

          .nav-item:not(:first-child):before {
            content: "";
            background: #70C8D3;
            display: -webkit-inline-flex;
            display: -ms-inline-flex;
            display: inline-flex;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            margin-left: 1rem;
          }

        }

        .search {
          background-color: transparent !important;

        }

        .wish {
          border: 2px solid $colorActive;
          box-sizing: border-box;
          font-size: 15px;
          color: $colorActive;
          margin-left: 2.5rem;

        }

    }

    .header-wish {
      border: 2px solid $colorActive;
      box-sizing: border-box;
      font-size: 1.125rem;
      color: $colorActive;
      display: block;
      margin: 33.5rem auto 4.6875rem;

      img {
        margin-right: .5rem;
      }

    }

    .header-next {
      display: block;
      margin: 0 auto;
      background: #fff;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
      padding: 1.75rem 2.6875rem 3.125rem;
      border-radius: 50% !important;
    }

}

// Index page

.is-main {

  .is-section {
  }

  .contribution {

    padding-bottom: 6.25rem;

    h2 {
      font-weight: 800;
      color: $color;
      text-align: center !important;
      font-size: 3.125rem;
    }

    p {
      text-align: center;
      font-size: 1.0625rem;
    }

    .bold {
      font-weight: 500;
      font-size: 1.25rem;
      margin-top: 1.5rem;
    }

  }

  .target {
    background: url(../img/section_target_bg.png) no-repeat left center, #F8F8F8;
    background-size: 37.5%;

    .icon {
      padding-top: 5.6875rem;
      padding-bottom: 5.6875rem;
    }

    h2 {
      font-weight: 800;
      font-size: 2.375rem;
      max-width: 180px;
      margin-left: 2.825rem;
      margin-bottom: 0;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
    }

    p {
      margin-bottom: 0;
      font-size: 1.0625rem;
    }
  }


  .mechanics {
    background: url(../img/section_mechanics_bg.png) no-repeat right center, #E9EEEF;
    background-size: 37.5%;

    .icon {
      padding-top: 5.6875rem;
      padding-bottom: 5.6875rem;
    }

    h2 {
      font-weight: 800;
      font-size: 2.375rem;
      max-width: 180px;
      margin-bottom: 0;
      margin-left: 5rem;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      text-align: right;
    }

    p {
      margin-bottom: 0;
      font-size: 1.0625rem;
    }

    img {
      margin-left: 5rem;
    }
  }

}
